@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: dark;
  background-color: #09090b;
  color: #fafafa;
}

@layer base {
  body {
    @apply antialiased select-none;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Hide scrollbar for clean mobile look but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
